%nav.navbar
  .container
    %ul.navbar-list
      %li.navbar-item= link_to 'Home', root_path, class: "navbar-link"
      %li.navbar-item= link_to 'About', about_path, class: "navbar-link"
      %li.navbar-item= link_to 'Posts', posts_path, class: "navbar-link"
